body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width of the page */
    margin: 0;
    padding: 0;
}
