html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full width of the page */
}
